set rtp+=~/.vim/bundle/vundle/
call vundle#rc()

" let Vundle manage Vundle
" required!
Bundle 'gmarik/vundle'

" Colorschemes
Bundle 'altercation/vim-colors-solarized'
" Syntax
Bundle 'Arduino-syntax-file'
Bundle 'kchmck/vim-coffee-script'
Bundle 'tpope/vim-git'
Bundle 'tpope/vim-haml'
Bundle 'pangloss/vim-javascript'
Bundle 'itspriddle/vim-jquery'
Bundle 'leshill/vim-json'
Bundle 'Jinja'
Bundle 'estin/htmljinja'
Bundle 'tpope/vim-markdown'
Bundle 'python.vim--Vasiliev'
Bundle 'timcharper/textile.vim'

" Automatic closing of parens etc...
Bundle 'Raimondi/delimitMate'
" Ack for vim
Bundle 'mileszs/ack.vim'
" Git for vim
Bundle 'tpope/vim-fugitive'
" Adds guide-lines for indentation-levels
Bundle 'mutewinter/vim-indent-guides'
" Better .
Bundle 'tpope/vim-repeat'
" Color picker for vim
Bundle 'Rykka/ColorV'
" Show number hits when searching
Bundle 'IndexedSearch'
" Easier motion commands
Bundle 'Lokaltog/vim-easymotion'
" Jump to buffer with alt-#
Bundle 'wycats/nerdtree'
Bundle 'ddollar/nerdcommenter'
Bundle 'tpope/vim-surround'
Bundle 'ervandew/supertab'
Bundle 'tpope/vim-cucumber'
Bundle 'tpope/vim-rails'
Bundle 'taq/vim-rspec'
Bundle 'msanders/snipmate.vim'
" Automatically insert 'end' in ruby files
Bundle 'tpope/vim-endwise'
Bundle 'scrooloose/syntastic'
Bundle 'mattn/gist-vim'
Bundle 'YankRing.vim'
" Better status line
Bundle 'dickeytk/status.vim'
" Autocomplete popup
Bundle 'AutoComplPop'
" Close HTML/XML tags
Bundle 'closetag.vim'
Bundle 'fholgado/minibufexpl.vim'

Bundle 'wincent/Command-T.git'
Bundle 'Lokaltog/vim-powerline'
