set rtp+=~/.vim/bundle/vundle/
call vundle#rc()

" let Vundle manage Vundle
" required!
Bundle 'gmarik/vundle'

" Colorschemes
Bundle 'altercation/vim-colors-solarized'
" Syntax
Bundle 'Arduino-syntax-file'
Bundle 'jgoulah/cocoa.vim.git'
Bundle 'kchmck/vim-coffee-script'
Bundle 'mtscout6/vim-cjsx'
Bundle 'tpope/vim-git'
Bundle 'tpope/vim-haml'
Bundle 'pangloss/vim-javascript'
Bundle 'itspriddle/vim-jquery'
Bundle 'elzr/vim-json'
Bundle 'Jinja'
Bundle 'estin/htmljinja'
Bundle 'tpope/vim-markdown'
Bundle 'python.vim--Vasiliev'
Bundle 'timcharper/textile.vim'
Bundle 'cakebaker/scss-syntax.vim'

" Automatic closing of parens etc...
Bundle 'Raimondi/delimitMate'
" Ack for vim
Bundle 'mileszs/ack.vim'
" Git for vim
Bundle 'tpope/vim-fugitive'
" Better .
Bundle 'tpope/vim-repeat'
" Color picker for vim
Bundle 'Rykka/colorv.vim'
" Show number hits when searching
Bundle 'IndexedSearch'
" Easier motion commands
Bundle 'Lokaltog/vim-easymotion'
" Jump to buffer with alt-#
Bundle 'wycats/nerdtree'
Bundle 'ddollar/nerdcommenter'
Bundle 'tpope/vim-surround'
Bundle 'ervandew/supertab'
Bundle 'tpope/vim-cucumber'
Bundle 'tpope/vim-rails'
Bundle 'thoughtbot/vim-rspec'
" Automatically insert 'end' in ruby files
Bundle 'tpope/vim-endwise'
Bundle 'scrooloose/syntastic'
Bundle 'mattn/gist-vim'
Bundle 'YankRing.vim'
" Better status line
Bundle 'dickeyxxx/status.vim'
" Autocomplete popup
Bundle 'AutoComplPop'
" Close HTML/XML tags
Bundle 'closetag.vim'
Bundle 'fholgado/minibufexpl.vim'
Bundle "MarcWeber/vim-addon-mw-utils"
Bundle "tomtom/tlib_vim"
Bundle "honza/vim-snippets"
Bundle 'garbas/vim-snipmate'

Bundle 'wincent/Command-T.git'
Bundle 'kien/ctrlp.vim'
Bundle 'vim-airline/vim-airline'
Bundle 'vim-airline/vim-airline-themes'

Bundle 'AndrewRadev/switch.vim'
Bundle 'benmills/vimux'
Plugin 'prettier/vim-prettier'
